
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.models {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.model-card {
    width: 30%; /* Ancho fijo para cada tarjeta */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    display: inline-block; /* Cambiado a inline-block para que se alineen en línea */
    vertical-align: top; /* Alineación vertical superior */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho especificado */
}


.model-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.museo {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.museo-info {
    width: 60%; /* Ajusta el ancho del lado izquierdo */
}

.museo-image {
    width: 35%; /* Ajusta el ancho del lado derecho */
}

.museo-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
